DISCORD_TOKEN=
OWNER_ID=
DEV_GUILD_ID=
TEAM_ROLE_ID=1432855602224304258
TEAM_CHANNEL_ID=1429981206211989655
TWITTER_USERNAME=uniyx
CSFLOAT_API_KEY=
FACEIT_API_KEY=
LASTFM_API_KEY=
CAM_CAMERAS=c121=rtsp://
STEAM_TOKEN=
FACEIT_ROSTER=
DM_SERVERS=na_na_chi_mirage19rifles,na_na_chi_dust2rifles
STEAM_PROFILE_MAP={
  "https://steamcommunity.com/profiles/76561198989623289": "uni",
  "https://steamcommunity.com/profiles/76561198085229443": "Benji",
  "https://steamcommunity.com/profiles/76561198209992732": "xCaptain",
  "https://steamcommunity.com/profiles/76561198855633260": "hoax",
  "https://steamcommunity.com/profiles/76561198097413054": "bud"
}
REMIND_DB_PATH=/unibot/data/reminders.sqlite3
INSTANCE_TAG=